body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  border: 16px;
  margin: 16px auto;
  padding-top: 10px;
  padding-bottom: 1px;
}

.title {
  font-size: 16px;
  background: #e3f4ff;
  margin: 10px;
  padding: 7px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 10px;
  padding: 7px 130px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 7px 15px;
}